body{
  background-color: rgba(211, 211, 211, 1);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
div a.nav-link{
  color:#FFFFFF8C;
}
a.nav-link.active{
  color: #fff;
}
.nav-link:hover{
  color: #fff;
}

div a{
  text-decoration: none;
  color: black;
}

.text {
  overflow: hidden;
  animation: typing 4s steps(30, end) ;
  white-space: nowrap;
}
@keyframes typing {
  from {
    width: 0;
  }
  to{
    width: 100%;
  }
}

.shopCard{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.shopCard:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.carousel-img {
  height: 250px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

@media (min-width: 768px) {
  .carousel-img {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .carousel-img {
    height: 500px;
  }
}