body{
  background-color: rgba(211, 211, 211, 1);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.active{
  color: #fff;
}
div a{
  text-decoration: none;
  color: black;
}

.text {
  overflow: hidden;
  animation: typing 4s steps(30, end) ;
  white-space: nowrap;
}
@keyframes typing {
  from {
    width: 0;
  }
  to{
    width: 100%;
  }
}

.shopCard{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.shopCard:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}